// цвета для приложения

$app-background: #264653;
$app-text: #e9c46a;

$table-text: #88250c;
$table-row-border: #fefae0;
$table-backround: #d8e2dc;
$table-column-background: #acc7dd;
$table-border: 2px solid rgba($table-row-border, 0.3);

$search-backround:  #f4f8e7;
$search-text: #581403;

$btn-background: rgb(97, 150, 139);
$btn-border:  #e9e4d6;
$btn-text: #dce2d3;
$btn-hover:#4f776e;
$btn-active: #40ccae;
