// цвета для приложения

$app-background: #264653;
$app-text: #e9c46a;

$table-text: #88250c;
$table-row-border: #fefae0;
$table-backround: #d8e2dc;
$table-column-background: #acc7dd;
$table-border: 2px solid rgba($table-row-border, 0.3);

$search-backround:  #f4f8e7;
$search-text: #581403;
